<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div>
            <form action="" method="POST">
           
                </br>
                <input type="text" name="userEmail" placeholder="E-mail"/>
                </br>
                <input type="password" name="userPassword" placeholder="Hasło"/>
                </br>
                <input type="submit" value="Logowanie" />
            </form>
            </br>

                <a href="?register">
                    
                    <div>Zarejestruj się</div>
                </a>
        </div>


    </body>
</html>
